<!DOCTYPE html>
{% load static %}
<html>
	<title>Tourista</title>
	<link rel="shortcut icon" href="{% static 'assets/images/tourista_logo.png' %}">
	
	<link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/css/full-slider.css' %}">
<body>
	<div class="modal fade" id="signupModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" id="text-black">SIGN UP AS</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
			        <form>
			        	<div class="form-group" style="display: inline-block; width: 100%;" id="text-regular">
				        	<select class="form-control" id="sel1">
				        		<option id="text-regular">Tour Guide</option>
				        		<option id="text-regular">Travel Agency</option>
				        	</select>
			        	</div>
			        </form>
			    </div>
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="loginModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" id="text-black">LOG IN</h4>
				</div>
				<div class="modal-body" style="text-align: center; background-color: #eaeaea;">
			        <form name="login" action="/api/authenticate" method="POST">
			        	<input type="email" name="email" class="input-login" placeholder="touristaph@tourista.com.ph">
			        	<input type="password" name="password" class="input-login" placeholder="**********">
			        	<input type="hidden" name="type" value="TA">
			        	<input type="submit" class="btn" value="LOG IN AS TRAVEL AGENCY" style="width: 100%; background-color: #1776d0; color: #fff; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);">
			        	<div>
			        	</div>
			        </form>
			    </div>
			</div>
		</div>
	</div>

	<div class="navbar navbar-fixed-top" style="background-color: #000;">
	<!-- <div class="navbar navbar-fixed-top" style="background-color: rgba(21,56,83, 0.62);"> -->
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="home.html"><img src="{% static 'assets/images/tourista_logo.png' %}" alt="Tourista" style="float:left;"><p style="float:right; margin-left: 10px;color: #fff;" id="text-regular">Tourista</p></a>	
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a style="color: #fff" data-toggle="modal" data-target="#signupModal" id="text-regular">SIGN UP</a></li>
					<li><a style="color: #fff" data-toggle="modal" data-target="#loginModal" id="text-regular">LOGIN</a></li>
					<!-- <li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li> -->
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 

	<header id="myCarousel" class="carousel slide" style="height:50%;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'assets/images/tourist.png' %}');"></div>
                <div class="carousel-caption">
                    <h2 id="text">Travel like a local. Be a local.</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'assets/images/tourguide.png' %}');"></div>
                <div class="carousel-caption">
                    <h2 id="text">Meet new friends, while earning.</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'assets/images/spot.png' %}');"></div>
                <div class="carousel-caption">
                    <h2 id="text">Add your agency's best itineraries.</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

		<div class="container" style="height:50%; overflow: auto;">
			
			<h3 class="text-center" id="text-black">Explore. Discover. Travel More.</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Bootstrap-powered</h4></div>
					<!-- <div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
					</div> -->
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Fat-free</h4></div>
					<!-- <div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
					</div> -->
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Creative Commons</h4></div>
					<!-- <div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
					</div> -->
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Author's support</h4></div>
					<!-- <div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita? </p>
					</div> -->
				</div>
			</div> <!-- /row  -->
		
		</div>

		<div style="height: 50%;background-color:blue;"></div>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script src="{% static 'assets/js/headroom.min.js"></script>
	<script src="{% static 'assets/js/jQuery.headroom.min.js"></script>
	<script src="{% static 'assets/js/template.js"></script>
	<script src="{% static 'assets/js/js/bootstrap.js"></script>
	<script src="{% static 'assets/js/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/js/js/jquery.js"></script> -->
</body>
</html>